
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-selection { background: Highlight; color: $mainColor; }
::-moz-selection { background: Highlight; color: $mainColor; }
::selection { background: Highlight; color: $mainColor; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

[v-cloak] { display: none; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $mainColor $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: 500 2.074rem/1.2 'Poppins'; }
// h2 { font: normal 2.074rem/1.2 'Poppins'; }
// h3 { font: bold 1.728rem/1.2 'Poppins'; }
h4 { font: bold 1.2rem/1.2 'Poppins'; }
// h5 { font: normal 1.2rem/1.2 'Poppins'; }
// h6 { font: bold 1rem/1.2 'Poppins'; }

p { font: normal .875rem/1.2 'Poppins'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

hr { background: $mainColor; }

.container { position: relative; width: 100%; margin: 0 auto; padding: 2rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $mobileWidth_lg) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 2rem; grid-gap: 2rem; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $tabletWidth) {
  a:hover { color: $linkColor_hover; }
}


/* Form styles */
form {
  fieldset { width: 100%; display: flex; }

  label { color: $darkGrey; font: normal 1rem/1 'Poppins'; }
  textarea,
  input { width: 100%; box-shadow: $boxShadow; border: 1px solid $boxColor; border-radius: 0 2px 2px 0; background: $boxColor; color: $mainColor; font: normal 1rem/1 'Poppins';
    &::placeholder { color: $darkGrey; }
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 6rem; padding: .5rem 1rem; resize: none; }
  input { height: 2rem; padding: 0 1rem; }

  @media screen and (min-width: $tabletWidth) {}
}

.button {
  a { width: 100%; height: 2rem; border: 1px solid $boxColor; border-radius: 2px 0 0 2px; padding: 0 .75rem; background: $boxColor; font: bold 1rem/1 'Poppins'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { background: $boxColor;
      svg { fill: $linkColor; }
    }

    svg { width: 18px; height: 18px; fill: $mainColor; flex: none; }
  }

  @media screen and (min-width: $tabletWidth) {
    a { width: auto; }
  }
}


/* Layout styles */
header { @include z('header');
  .container { height: 4.5rem; padding: 1rem;
    .header { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) { height: 6rem; padding: 2rem;
      .header { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { grid-column: 1 / 13; }
    }
  }
}

main { @include z('main');
  .container { min-height: calc(100vh - 4.5rem);
    .content { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .content { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .content { grid-column: 1 / 13; }
    }
  }
}

footer { @include z('footer');
  .container {
    .footer { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .footer { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .footer { grid-column: 1 / 13; }
    }
  }
}


/* Page styles */
@import 'page/index';
