extends include/main

block variables
  - let title='Test'

block content
  section#index
    .container
      .index.content
        .index__title
          h1 Test
        form.index-serch-box
          fieldset.index-serch-box__item
            .button.index-serch-box__button
              a(href='#' v-on:click.prevent='searchAuthor')
                svg
                  use(href='/image/icon/search.svg#search')
            input(type='search' name='search' placeholder='Filter by author...' v-model='search')
        ul.index-list
          li.index-list__item(v-for='post in posts' v-cloak)
            .index-list__title
              a(href='#')
                h4 {{ post.title }}
            .index-list__text
              p {{ post.body }}
            .index-list__author
              a(href='#') {{ user(post.userId).name }}
