
$white                     : #ffffff;
$darkGrey                  : #929496;
$lightGrey                 : #bcbfc2;

/* Font options */
$mainColor                 : #191b1d;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Poppins', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(25, 27, 29, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_lg            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1184px;
$desktopWidth_md           : 1376px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #edf0f3;
$linkColor                 : #375cff;
$linkColor_hover           : #dc2d70;
$accentColor               : #ac13ff;
$successColor              : #375cff;
$errorColor                : #dc2d70;

$boxColor                  : #fefefe;
$boxShadow                 : 0 0 2px rgba(25, 27, 29, .15);
