block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Ilya Korotkov ilushkeens@gmail.com')

    // icon & css
    link(href='/favicon.ico' rel='shortcut icon' type='image/x-icon')
    //- link(href='/favicon-120x120.png' rel='icon' sizes='120x120' type='image/png')
  body
    #app
      include header
      main
        block content
      include footer

    // js
