
/* Index page */
#index {
  .container {
    .index {
      &__title { margin-bottom: 1.5rem;
        h1 { text-align: center; }
      }

      &-serch-box { margin-bottom: 1.5rem; display: flex; align-items: center; }

      &-list {
        &__item { box-shadow: $boxShadow; border-radius: 4px; padding: 1rem; background: $boxColor;
          &:not(:last-child) { margin-bottom: 1rem; }
        }
        &__title { margin-bottom: .75rem;
          &:first-letter { text-transform: uppercase; }
        }
        &__text { margin-bottom: .5rem; color: $darkGrey;
          &:first-letter { text-transform: uppercase; }
        }
        &__author a { color: $lightGrey; font-size: .75rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .index {
        &-serch-box { justify-content: center;
          &__item { width: calc((100% - 2rem)/2); }
        }

        &-list { display: flex; flex-wrap: wrap;
          &__item { width: calc((100% - 2rem)/2); align-self: flex-start;
            &:not(:last-child) { margin-bottom: 0; }
            &:nth-child(odd) { margin-right: 2rem; }
            &:nth-last-child(n+3) { margin-bottom: 1rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index {
        &-serch-box {
          &__item { width: calc((100% - 4rem)/3); }
        }

        &-list {
          &__item { width: calc((100% - 4rem)/3);
            &:nth-child(odd) { margin-right: 0; }
            &:nth-last-child(n+3) { margin-bottom: 0; }
            &:not(:nth-child(3n)) { margin-right: 2rem; }
            &:nth-last-child(n+4) { margin-bottom: 1rem; }
          }
        }
      }
    }
  }
}
